<%- include("header") -%>


<h2>Essa aqui é a About page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatum nihil maxime dolorem, aut laboriosam nostrum vitae esse accusantium exercitationem cumque earum neque! Quos deserunt harum culpa expedita impedit aspernatur.</p>

<%- include("footer") -%>
